[defaults]
# Disable warnings
command_warnings = False
deprecation_warnings = False
duplicate_dict_key = ignore

# Default inventory file
inventory = /home/joseph/ansible/homelab.yml

# Optional quality-of-life improvements
nocows = True
stdout_callback = yaml

